@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@700&family=Open+Sans:wght@600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  height: 100%;
  min-width: 32rem;
  box-sizing: border-box;
  background: #bbd2c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    #292e49,
    #536976,
    #bbd2c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    #292e49,
    #536976,
    #bbd2c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  position: relative;
  text-align: center;
  z-index: 1;
}

#main > .inner {
  max-width: 100%;
  position: relative;
  width: 120rem;
  z-index: 1;
  padding: 3.5rem;
}

#container01 {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-bottom: 2rem;
}

#container01 .wrapper {
  max-width: 120rem;
  width: 100%;
  vertical-align: top;
  position: relative;
}

#container01 > .wrapper > .inner {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

#container01 > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  padding: 0 0 0 4rem;
}

#container01 > .wrapper > .inner > :nth-child(1) {
  width: 55%;
}

#container01 > .wrapper > .inner > :nth-child(2) {
  width: 45%;
}

#container01 > .wrapper > .inner > * > * {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#container02 {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 2rem 0;
}

#container02 p {
  opacity: 0.9;
  font-size: 1.75rem;
  color: #fff;
}

#image01 .frame {
  max-width: 100%;
  display: inline-block;
  width: 17.5rem;
  border-radius: 100%;
  border-color: transparent;
  border-style: dotted;
  border-width: 1px;
  box-shadow: 0rem 0rem 0rem 0.25rem rgba(0, 0, 0, 0.19);
  backface-visibility: hidden;
  overflow: hidden;
}

#image01 .frame img {
  display: block;
  line-height: 0;
  max-width: 100%;
  position: relative;
}

#text01 {
  text-align: center;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: -0.1rem;
  width: 100%;
  font-size: 7.8rem;
  line-height: 1;
  font-weight: 800;
  text-shadow: 0rem 0.375rem 0rem rgba(0, 0, 0, 0.19);
  position: relative;
}

#text02 {
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  width: 100%;
  line-height: 2;
  font-weight: 600;
  text-shadow: 0rem 0.375rem 0rem rgba(0, 0, 0, 0.19);
  position: relative;
  padding: 0 2rem;
}

.formalContact {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 75%;
  color: #fff;
  font-size: 2.5rem;
}

.formalContact a {
  padding: 1rem;
  color: inherit;
  text-shadow: 0rem 0.375rem 0rem rgba(0, 0, 0, 0.19);
}

#text02 .p {
  text-align: left;
  display: block;
  position: relative;
  direction: rtl;
}

code {
  background-color: rgba(144, 144, 144, 0.25);
  border-radius: 0.8rem;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0 0.4rem;
  padding: 0.4rem 0.8rem;
  text-indent: 0;
}

/* RIGHT SIDE */

#buttons01 {
  list-style-type: none;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #fff;
}

#buttons01.buttons > li {
  width: 100%;
  display: inline-block;
  transition: all 0.2s;
}

#buttons01.buttons > li:hover {
  transform: translateY(-3px);
}

#buttons01.buttons > li:active {
  transform: translateY(0);
}

#buttons01.buttons > li > a {
  font-family: 'Inter', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  height: 6.5rem;
  box-shadow: 0px 6.5px 0px rgba(0, 0, 0, 0.19);
  border-radius: 3.25rem;
}

#buttons01.buttons > li > a:active {
  box-shadow: 0px 3.5px 0px rgba(0, 0, 0, 0.19);
}

#buttons01.buttons > li > a > i {
  font-size: 2rem;
}

#buttons01 .n01 {
  background: #1d9bf0;
  color: inherit;
}
#buttons01 .n02 {
  background: #000000;
  color: inherit;
}
#buttons01 .n03 {
  background: #5865f2;
  color: inherit;
}
#buttons01 .n04 {
  background: #de0820;
  color: inherit;
}
#buttons01 .n05 {
  background: #dd2a7b;
  color: inherit;
}
#buttons01 .n06 {
  background: #005dff;
  color: inherit;
}

@media only screen and (max-width: 22.5em) {
  html {
    font-size: 50%;
  }

  #main > .inner {
    padding: 0;
  }

  #container01 > .wrapper > .inner {
    width: 100%;
    flex-direction: column;
    padding: 3rem 2rem;
  }

  #container01 > .wrapper > .inner > * {
    padding: 0;
  }

  #container01 > .wrapper > .inner > :nth-child(1) {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  #container01 > .wrapper > .inner > :nth-child(2) {
    width: 100%;
  }

  #container01 > .wrapper > .inner > * > * {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  #buttons01 {
    gap: 3.5rem;
  }

  #buttons01.buttons > li > a {
    height: 6rem;
  }
}
